* {
  position: relative;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 12px;
}

body {
  width: 950px;
  margin: 0 auto;
  padding: 30px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}



/* Important Stuff
   --------------- */

.ScrollingTable {
  width: 100%;
  overflow: hidden;
}

.ScrollingTable-head {
  z-index: 1;
}

.ScrollingTable-head table {
  background: #fff;
}

.ScrollingTable-body {
  width: 100%;
  height: 250px;
  overflow: auto;
}



/* Visual Stuff
   ------------ */

.ScrollingTable {
  border-bottom: 1px solid #999;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
}   

.ScrollingTable-body {
  background: #ddd;   
}

.ScrollingTable td, 
.ScrollingTable th {
  text-align: left;
}

.ScrollingTable-body tr:last-child td {
  border-bottom: 0;
}

.ScrollingTable td:last-child, 
.ScrollingTable th:last-child {
  text-align: right;
}

th, td {
  border: 1px solid #aaa;
  padding: 10px;
}